.timezones-list {
    position: absolute;
    width: 100%;
    top: 40px;
    border: 1px solid #aacff3;
    border-top-width: 0;
    list-style: none;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 25px;
    background-color: white;
}

/* disable scrollbar */
.timezones-list {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.timezones-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.timezone-not-found {
    color: gray;
    padding: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}
