/* clock item */
ul#clocks-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul#clocks-list li button.update-local-clock {
    display: none;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 10px;
}

ul#clocks-list li:hover button.update-local-clock {
    display: block;
}
